<%- include('nav');-%>
<div class="patterns ">
    <svg width="100%" height="100%">
        <defs>
            <pattern id="polka-dots" x="0" y="0" width="100" height="100" patternUnits="userSpaceOnUse">
                <circle fill="#be9ddf" cx="25" cy="25" r="3"></circle>
            </pattern>
            <style>
                @import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");
            </style>

        </defs>
        <text x="50%" y="60%" text-anchor="middle">
            About Us
        </text>
    </svg>
</div>
    <div class="about-section">
        <div class="inner-content">
            <h1 style="font-size: 30px">About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, dolores deleniti quidem cumque eligendi
                vitae debitis ab odio ea a vel corrupti obcaecati eaque fuga ipsum officia accusantium? Sapiente,
                consequatur?</p>
        </div>
    </div>

    <div class="about-us">
        <img src="https://img.freepik.com/free-photo/beautiful-woman-with-slim-legs-yellow-high-heels-fashionable-girl-holds-stylish-blue-bag-glamour-stylish-concept-art-woman-walks-after-shopping-unrecognizable-female_186202-4471.jpg?w=740&t=st=1679802531~exp=1679803131~hmac=b998e5e93e1b2e874a873a45360579a42d5e4524af7ae8fdaf5d27d1db593bc0"
            alt="">
        <h2 style="font-size: 30px;">Lorem ipsum dolor sit amet.</h2>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae modi aspernatur, at exercitationem sit
            vel ipsam. Dignissimos architecto placeat, doloremque magni temporibus explicabo cum nobis quasi? Minus vel
            assumenda architecto cumque fuga suscipit quis provident ut sint, recusandae veritatis harum. Laudantium
            dicta repellat atque eveniet, amet tempora itaque pariatur placeat.</h4>
    </div>
    <style>
        .about-us {
            display: flex;
            display: none;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 30px;
            padding: 20px;
            text-align: center;
            background: beige;
            margin: 20px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        
        @media only screen and (max-width: 1200px) {
            .about-us {
            display: flex;
            display: flex !important;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 30px;
            padding: 20px;
            text-align: center;
            background: beige;
            margin: 20px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        .about-section {
            display: none;
            background: url('https://cdn-imgix.headout.com/tour/29976/TOUR-IMAGE/f063b1b9-8a23-47ad-bc54-aaab71c5a7a0-a94e6f65-f5fd-4cf6-9b58-54676cfe5106-58e9748a-ed65-4e6b-93bb-e32bfd2340a8-16070-dubai-img-worlds-of-adventure-ticket---free-meal-voucher-08.jpeg') no-repeat left;
            background-size: 55%;
            background-color: #fdfdff;
            overflow: hidden;
            padding: 100px 0px;
            margin: 20px;
        }
        }
        
        .about-section {
            /* display: none; */
            background: url('https://cdn-imgix.headout.com/tour/29976/TOUR-IMAGE/f063b1b9-8a23-47ad-bc54-aaab71c5a7a0-a94e6f65-f5fd-4cf6-9b58-54676cfe5106-58e9748a-ed65-4e6b-93bb-e32bfd2340a8-16070-dubai-img-worlds-of-adventure-ticket---free-meal-voucher-08.jpeg') no-repeat left;
            background-size: 55%;
            background-color: #fdfdff;
            overflow: hidden;
            padding: 100px 0px;
            margin: 20px;
        }

        .inner-content {
            width: 55%;
            float: right;
            background: rgb(255, 255, 255);
            padding: 100px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            margin: 20px;
        }
    </style>